{{> admin/header}}

<div class="wrapper">

    {{> admin/top}}

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="/admin&adminmain?sid={{sid}}&admin.html">
            <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i> <span>系统信息</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-files-o"><span class="icon-bg bg-orange"></span></i>
            <span>商品管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&mallgoods?sid={{sid}}&page=1"><i class="fa fa-circle-o"></i> 商品列表</a></li>
            <li><a href="/admin&pubgoods&sid=pubgoods.html"><i class="fa fa-circle-o"></i> 发布商品</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-pie-chart"><span class="icon-bg bg-warning"></span></i>
            <span>订单管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&ordersales&sid=sales.html"><i class="fa fa-circle-o"></i> 销售订单</a></li>
            <li><a href="/admin&orderpayment&sid=payment.html"><i class="fa fa-circle-o"></i> 支付订单</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-laptop"><span class="icon-bg bg-success"></span></i>
            <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&userdatas&sid=user.html"><i class="fa fa-circle-o"></i> 用户列表</a></li>
            <li><a href="/admin&userinformation&sid=user.html"><i class="fa fa-circle-o"></i> 用户信息</a></li>

          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-edit"><span class="icon-bg bg-primary-light"></span></i> 
            <span>消息管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&news&sid=news.html"><i class="fa fa-circle-o"></i> 消息列表</a></li>
            <li><a href="/admin&pubnews&sid=news.html"><i class="fa fa-circle-o"></i> 消息发布</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-table"><span class="icon-bg bg-primary"></span></i> 
            <span>数据中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 数据分析统计</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"><span class="icon-bg bg-violet"></span></i> 
            <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> temp</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> 商品上架发布中心</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-0">

                    <form class="form-horizontal" method="post" action="/adminputitem.html">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">商品类型：</label>
                            <div class="col-sm-5">
                                <select class="form-control" name="itemType">
                                    <option value="1">数码影音</option>
                                    <option value="2">手机电脑</option>
                                    <option value="3">母婴商品</option>
                                    <option value="4">美妆商品</option>
                                    <option value="5">轻奢物品</option>
                                    <option value="6">水果保健食品</option>
                                    <option value="7">黄金珠宝</option>
                                    <option value="8">生活用品</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">商品编码：</label>
                            <div class="col-sm-5">
                                <input type="text" name="itemCode" class="form-control"  placeholder="商品编码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">商品名称：</label>
                            <div class="col-sm-5">
                                <input name="itemName" type="text" class="form-control"  placeholder="商品名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">市场价格：</label>
                            <div class="col-sm-5">
                                <input type="text" name="itemPrice" class="form-control" placeholder="市场价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">总需价格：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="itemPricec" placeholder="总需价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">单次价格：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="itemPriced" placeholder="单次价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">上架数量：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="itemNumber" placeholder="上架数量">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">文字说明：</label>
                            <div class="col-sm-5">
                                <textarea type="text" class="form-control" name="itemText" placeholder="文字说明"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">商品文描：</label>
                            <div class="col-sm-5">
                                <p><input type="text" class="form-control" name="itemPic1" placeholder="pc图片地址"></p>
                                <p><input type="text" class="form-control" name="itemPic2" placeholder="pc图片地址"></p>
                                <p><input type="text" class="form-control" name="itemPic3" placeholder="pc图片地址"></p>
                                <p><input type="text" class="form-control" name="itemPic4" placeholder="pc图片地址"></p>
                            </div>
                            <div class="col-sm-5">
                                <p><input type="text" class="form-control" name="appitemPic1" placeholder="app图片地址"></p>
                                <p><input type="text" class="form-control" name="appitemPic2" placeholder="app图片地址"></p>
                                <p><input type="text" class="form-control" name="appitemPic3" placeholder="app图片地址"></p>
                                <p><input type="text" class="form-control" name="appitemPic4" placeholder="app图片地址"></p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">商品图片：</label>
                            <div class="col-sm-5">
                                <p><input type="text" class="form-control" name="itemImage1" placeholder="pc图片地址"></p>
                                <p><input type="text" class="form-control" name="itemImage2" placeholder="pc图片地址"></p>
                                <p><input type="text" class="form-control" name="itemImage3" placeholder="pc图片地址"></p>
                                <p><input type="text" class="form-control" name="itemImage4" placeholder="pc图片地址"></p>
                            </div>
                            <div class="col-sm-5">
                                <p><input type="text" class="form-control" name="appitemImage1" placeholder="app图片地址"></p>
                                <p><input type="text" class="form-control" name="appitemImage2" placeholder="app图片地址"></p>
                                <p><input type="text" class="form-control" name="appitemImage3" placeholder="app图片地址"></p>
                                <p><input type="text" class="form-control" name="appitemImage4" placeholder="app图片地址"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-w-md">提 交</button>
                                <p>{{message}}</p>
                            </div>
                        </div>
                    </form>  

                </div>
            </div>
        </div>
    </section>
    
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

    {{> admin/slidebar}}
</div>
<!-- ./wrapper -->

{{> admin/footer}}