<!DOCTYPE html>
<html>
<head>
<title>Node-M CMS</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="keywords" content="Node Mall CMS"/>
<meta name="description" content="Node Mall CMS"/>
<meta name="author" content="Ming">

{{{_sections.style}}}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    {{{body}}}
</body>
</html>